In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

dataset = pd.read_csv('insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [2]:
label = LabelEncoder()
label.fit(dataset.sex.drop_duplicates())
dataset.sex = label.transform(dataset.sex)


# smoker or not
label.fit(dataset.smoker.drop_duplicates())
dataset.smoker = label.transform(dataset.smoker)


# region
label.fit(dataset.region.drop_duplicates())
dataset.region = label.transform(dataset.region)


dataset

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [3]:
x_lin = dataset.drop(['charges'], axis=1)
y_lin = dataset[['charges']]

x_lin_train, x_lin_test, y_lin_train, y_lin_test = train_test_split(x_lin, y_lin, test_size=0.3, random_state=42)

Linear_model = LinearRegression()

Linear_model.fit(x_lin_train, y_lin_train)

LinearRegression()

In [4]:
for idx, col_name in enumerate(x_lin_train.columns):
    print("The co-efficient for {} is {}".format(col_name, Linear_model.coef_[0][idx]))

The co-efficient for age is 261.62568984274697
The co-efficient for sex is 109.64719595060507
The co-efficient for bmi is 344.5448306560361
The co-efficient for children is 424.3701659576309
The co-efficient for smoker is 23620.802521481746
The co-efficient for region is -326.4626252721918

In [5]:
intercept = Linear_model.intercept_[0]
intercept

-12364.391322279254

In [6]:
y_pred = Linear_model.predict(x_lin_test)
pred = pd.DataFrame(x_lin_test)
pred['cost'] = y_lin_test
pred['predCost'] = y_pred
pred

      age  sex     bmi  children  smoker  region         cost      predCost
764    45    0  25.175         2       0       0   9095.06825   8931.421164
887    36    0  30.020         0       0       1   5272.17580   7070.906703
890    64    0  26.885         0       1       1  29330.98315  36937.080496
1293   46    1  25.745         3       0       1   9301.89355   9596.992144
259    19    1  31.920         0       1       1  33750.29180  27008.354871
...   ...  ...     ...       ...     ...     ...          ...           ...
701    50    0  44.745         0       0       0   9541.69555  16133.551618
672    36    1  29.700         0       0       2   4399.73100   6743.836928
1163   18    0  28.215         0       0       0   2200.83085   2066.203492
1103   58    1  36.080         0       0       2  11363.28320  14697.798124
1295   20    1  22.000         1       0       3   1964.78000      2.738235

[402 rows x 8 columns]